Repository cse110-sp24-group16/cse110-sp24-group16, changes with the labels that .github/labeler.yml gives for each.
All labels: HTML, JS, CSS, Documentation

consistency in headings, buttons, fontsize
  source/styles/monthly-planner-style.css
  source/styles/taskbar-style.css
  source/styles/weekly-planner-style.css
Labels: CSS

Changed day abbreviations
  source/weekly-calendar.js
  source/weekly-planner.html
Labels: HTML, JS

updated line up of header
  source/styles/monthly-planner-style.css
Labels: CSS

temp icons for taskbar options
  source/monthly-planner.html
  source/weekly-planner.html
Labels: HTML

color changes + better taskbar buttons
  source/styles/monthly-planner-style.css
  source/styles/taskbar-style.css
  source/styles/weekly-planner-style.css
Labels: CSS

Update monthly-calendar.js to have delete feature
  source/monthly-calendar.js
Labels: JS

Update monthly-planner-style.css to add delete button for monthly view
  source/styles/monthly-planner-style.css
Labels: CSS

Added Manual Testing
  README.md
  source/__tests__/060824-Manual-Testing-Report.md
  source/journals/2024-06-08.md
  source/journals/2024-06-09.md
  source/journals/2024-06-10.md
  source/journals/2024-06-11.md
  source/task.json
Labels: Documentation

structural changes to html (no changes to class/id)
  source/monthly-planner.html
  source/weekly-planner.html
Labels: HTML

consistency across popups
  source/styles/task-crud-style.css
Labels: CSS

better css-selectors
  source/styles/monthly-planner-style.css
  source/styles/taskbar-style.css
  source/styles/weekly-planner-style.css
Labels: CSS

icons locally available
  source/assets/month-icon.svg
  source/assets/options-icon.png
  source/assets/week-icon.png
  source/monthly-planner.html
  source/weekly-planner.html
Labels: HTML

Adds delete functionality for tasks in monthly view
  source/monthly-calendar.js
Labels: JS

Adds Delete Functionality for Monthly View for tasks
  source/monthly-calendar.js
Labels: JS

Adds simple styling for delete button in monthly view
  source/styles/monthly-planner-style.css
Labels: CSS

Fix: markdown preview height
  source/styles/monthly-planner-style.css
Labels: CSS

Feature: add journal icon
  source/assets/journal-icon.png
  source/monthly-calendar.js
Labels: JS

Update monthly-calendar.js (Propogate in both views
  source/monthly-calendar.js
Labels: JS

Update test.e2e.js
  .nyc_output/processinfo/index.json
  package-lock.json
  package.json
  source/__tests__/test.e2e.js
Labels: JS

Update monthly-calendar.js
  source/monthly-calendar.js
Labels: JS

add, edit, delete e2e
  .nyc_output/processinfo/index.json
  coverage/lcov-report/index.html
  coverage/lcov-report/source/event-card.js.html
  coverage/lcov-report/source/index.html
  coverage/lcov-report/source/json-parser.js.html
  coverage/lcov-report/source/main.js.html
  coverage/lcov-report/source/monthly-calendar.js.html
  coverage/lcov-report/source/preload.js.html
  coverage/lcov-report/source/task-crud.js.html
  coverage/lcov-report/source/taskbar.js.html
  coverage/lcov-report/source/tmp/index.html
  coverage/lcov-report/source/tmp/tmp.js.html
  coverage/lcov-report/source/util.js.html
  coverage/lcov-report/source/weekly-calendar.js.html
  coverage/lcov.info
  source/__tests__/jest.config.js
  source/__tests__/test-monthly-e2e.js
  source/__tests__/tmp.test.js
  source/__tests__/tmp2.js
  source/__tests__/tmp3.js
  source/markdown-files/journal-050524.md
  test/pageobjects/login.page.js
  test/pageobjects/page.js
  test/pageobjects/secure.page.js
  test/specs/test.e2e.js
Labels: HTML, JS, Documentation

stational change
  .nyc_output/processinfo/index.json
  coverage/lcov-report/index.html
  coverage/lcov-report/source/event-card.js.html
  coverage/lcov-report/source/index.html
  coverage/lcov-report/source/json-parser.js.html
  coverage/lcov-report/source/main.js.html
  coverage/lcov-report/source/monthly-calendar.js.html
  coverage/lcov-report/source/preload.js.html
  coverage/lcov-report/source/task-crud.js.html
  coverage/lcov-report/source/taskbar.js.html
  coverage/lcov-report/source/tmp/index.html
  coverage/lcov-report/source/tmp/tmp.js.html
  coverage/lcov-report/source/util.js.html
  coverage/lcov-report/source/weekly-calendar.js.html
Labels: HTML

fix: decrease button size
  source/styles/monthly-planner-style.css
Labels: CSS

Update event-card-test.js (Adds comments)
  source/__tests__/event-card-test.js
Labels: JS

Draft finished, but encounter a lot of issues. Have marked all of the concerns in comment start with "HELP!!!"
  .nyc_output/processinfo/index.json
  coverage/lcov-report/index.html
  coverage/lcov-report/source/event-card.js.html
  coverage/lcov-report/source/index.html
  coverage/lcov-report/source/json-parser.js.html
  coverage/lcov-report/source/main.js.html
  coverage/lcov-report/source/monthly-calendar.js.html
  coverage/lcov-report/source/preload.js.html
  coverage/lcov-report/source/task-crud.js.html
  coverage/lcov-report/source/taskbar.js.html
  coverage/lcov-report/source/tmp/index.html
  coverage/lcov-report/source/tmp/tmp.js.html
  coverage/lcov-report/source/util.js.html
  coverage/lcov-report/source/weekly-calendar.js.html
  source/__tests__/test-monthly-e2e.js
  source/journals/2024-06-06.md
Labels: HTML, JS, Documentation

Create 060924-ProjectSprintReview2
  admin/meetings/060924-ProjectSprintReview2
Labels: none

Update and rename 060924-ProjectSprintReview2 to 060924-ProjectSprintReview2.md
  admin/meetings/060924-ProjectSprintReview2
  admin/meetings/060924-ProjectSprintReview2.md
Labels: Documentation

Rename 060924-ProjectSprintReview2.md to 060924-project-sprint-review2.md
  admin/meetings/060924-project-sprint-review2.md
Labels: Documentation

Create 060924-project-retrospective2.md
  admin/meetings/060924-project-retrospective2.md
Labels: Documentation

Update 060924-project-sprint-review2.md
  admin/meetings/060924-project-sprint-review2.md
Labels: Documentation

Create 052624-project-sprint-review1.md
  admin/meetings/052624-project-sprint-review1.md
Labels: Documentation

Create 052624-project-retrospective1.md
  admin/meetings/052624-project-retrospective1.md
Labels: Documentation

Update 060924-project-sprint-review2.md
  admin/meetings/060924-project-sprint-review2.md
Labels: Documentation

Fixed taskbar date format
  source/taskbar.js
Labels: JS

BREAKING CHANGE: file structure change, completely transitioned to modular js syntax, UPDATE REQUIRED
  package.json
  source/__tests__/e2e/event-card-test.js
  source/__tests__/e2e/test.e2e.js
  source/__tests__/e2e/test.js
  source/__tests__/jest.config.js
  source/__tests__/unit/monthly.test.js
  source/__tests__/unit/parser.test.js
  source/__tests__/unit/weekly.test.js
  source/event-card.js
  source/json-parser.js
  source/md-crud.js
  source/md-parser.js
  source/monthly-calendar.js
  source/task-crud.js
  source/task.json
  source/taskbar.js
  source/util.js
  source/weekly-calendar.js
  wdio.conf.js
Labels: JS

well...
  .nyc_output/processinfo/index.json
  coverage/lcov-report/index.html
  coverage/lcov-report/source/event-card.js.html
  coverage/lcov-report/source/index.html
  coverage/lcov-report/source/json-parser.js.html
  coverage/lcov-report/source/main.js.html
  coverage/lcov-report/source/monthly-calendar.js.html
  coverage/lcov-report/source/preload.js.html
  coverage/lcov-report/source/task-crud.js.html
  coverage/lcov-report/source/taskbar.js.html
  coverage/lcov-report/source/tmp/index.html
  coverage/lcov-report/source/tmp/tmp.js.html
  coverage/lcov-report/source/util.js.html
  coverage/lcov-report/source/weekly-calendar.js.html
  source/__tests__/test-monthly-e2e.js
Labels: HTML, JS

change coverage workflow
  .github/workflows/ci.yml
  lcov.info
Labels: none

update codacy badges
  README.md
Labels: Documentation

major feature: update releases ci, update jsdoc generation policies
  .github/workflows/build-and-upload.yml
  .github/workflows/jsdoc.yml
  .github/workflows/release.yml
  .gitignore
  jsdoc_config.json
  source/tmp/tmp.js
Labels: JS

update release ci requirements
  .github/workflows/release.yml
Labels: none

.github/labeler.yml:

HTML:
  - "**/*.html"

JS:
  - "**/*.js"

CSS:
  - "**/*.css"

Documentation:
  - "**/*.md"
  - "docs/**/*"
