Repository cse110-sp24-group16/cse110-sp24-group16, changes with the labels that .github/labeler.yml gives for each.
All labels: HTML, JS, CSS, Documentation

.github/labeler.yml:

HTML:
  - "**/*.html"

JS:
  - "**/*.js"

CSS:
  - "**/*.css"

Documentation:
  - "**/*.md"
  - "docs/**/*"

Update README.md
  README.md
Labels: Documentation

pr-templates
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Labels: Documentation

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

codacy-fixup
  README.md
Labels: Documentation

Created js file for planner.html
  source/planner.html
  source/planner.js
Labels: HTML, JS

feature: html/css skeleton for monthly view
  source/monthly-planner.html
  source/monthly-planner.js
  source/styles/monthly-planner-style.css
Labels: HTML, JS, CSS

fix: add tabindex to today
  source/monthly-planner.html
Labels: HTML

Mostly done with edit features. Made some adjustments to css as well. Still need to incorporate colors for the edit feature.
  source/planner.html
  source/planner.js
  source/styles/planner-styles.css
Labels: HTML, JS, CSS

Fixed Codacy issues
  source/planner.js
  source/styles/planner-styles.css
Labels: JS, CSS

minor fix
  source/planner.js
Labels: JS

Create enforcer.yml
  .github/workflows/enforcer.yml
Labels: none

Create enforcer.yml
  .github/workflows/enforcer.yml
Labels: none

comment out the hardcode
  source/monthly-planner.html
Labels: HTML

add functionality to calendar
  source/monthly-planner.js
Labels: JS

make class/id name changes
  source/styles/monthly-planner-style.css
Labels: CSS

synatax fix and remove console.log statements
  source/monthly-planner.js
Labels: JS

Update source/monthly-planner.js
  source/monthly-planner.js
Labels: JS

warning fixes
  source/monthly-planner.js
Labels: JS

warning fixes all
  source/monthly-planner.js
Labels: JS

Update source/monthly-planner.js
  source/monthly-planner.js
Labels: JS

Update monthly-planner.html
  source/monthly-planner.html
Labels: HTML

created a color feature as well as a notes feature
  source/planner.html
  source/planner.js
  source/styles/planner-styles.css
Labels: HTML, JS, CSS

Update source/planner.js
  source/planner.js
Labels: JS

Update source/planner.js
  source/planner.js
Labels: JS

Update source/planner.js
  source/planner.js
Labels: JS

Finished switching between views
  source/monthly-planner.html
  source/planner.html
  source/planner.js
Labels: HTML, JS

Update source/planner.js
  source/planner.js
Labels: JS

Update source/planner.js
  source/planner.js
Labels: JS

view-switch-patch
  source/journal.html
  source/monthly-planner.js
Labels: HTML, JS

add dir for markdown
  source/markdown-files/journal-050524.md
Labels: Documentation

Rename specs/051224-Code-Review-Policy.md to specs/adrs/051224-Code-Review-Policy.md
  specs/adrs/051224-Code-Review-Policy.md
Labels: Documentation

Update and rename specs/051224-Design-Tasklist.md to specs/adrs/051224-Design-Tasklist.md
  specs/adrs/051224-Design-Tasklist.md
Labels: Documentation

Create 052624-localstorage-or-JSON.md
  specs/adrs/052624-localstorage-or-JSON.md
Labels: Documentation

Create 052624-Monthly-or-Yearly-View.md
  specs/adrs/052624-Monthly-or-Yearly-View.md
Labels: Documentation

fixing changes to html
  source/monthly-planner.html
Labels: HTML

fix: nav button class names
  source/monthly-planner.html
Labels: HTML

Update specs/adrs/052624-localstorage-or-JSON.md
  specs/adrs/052624-localstorage-or-JSON.md
Labels: Documentation

example for CI demonstration (CLOSE THIS PR)
  source/markdown-files/journal-050524.md
Labels: Documentation

initialize
  source/journal.html
  source/planner.html
Labels: HTML
