Repository cse110-sp24-group16/cse110-sp24-group16, changes with the labels that .github/labeler.yml gives for each.
All labels: HTML, JS, CSS, Documentation

.github/labeler.yml:

HTML:
  - "**/*.html"

JS:
  - "**/*.js"

CSS:
  - "**/*.css"

Documentation:
  - "**/*.md"
  - "docs/**/*"

Updated
  source/monthly-calendar.js
Labels: JS

Updated*
  source/monthly-calendar.js
Labels: JS

specify nodever for npx
  .github/workflows/release.yml
Labels: none

change release to pr branch to main
  .github/workflows/release.yml
Labels: none

readme changes
  README.md
Labels: Documentation

update release to only run on dispatch
  .github/workflows/release.yml
Labels: none

Notes added by 'git notes add'
  621b87f859b2d9f2702060694eaf824b9794e6fe
Labels: none

fix: add binaries to releases automatically
  .github/workflows/release.yml
  package.json
  release.config.js
Labels: JS

fix: remove release from build, move to separate job
  .github/workflows/release.yml
Labels: none

fix: npm install before semantic-release
  .github/workflows/release.yml
Labels: none

Notes added by 'git notes add'
  b1f0f1af18f94ed8ef13ca6b82f30bc0d8ca649d
Labels: none

update release config
  package.json
  release.config.js
Labels: JS

fix: workflow with uploads
  .github/workflows/release.yml
  package.json
  release.config.js
Labels: JS

Notes added by 'git notes add'
  14618e1c86b51d0687eac019c0c1f4c48b0f20e5
Labels: none

fix: workflow automation edits
  .github/workflows/release.yml
  .gitignore
  package.json
  release.config.js
Labels: JS

Notes added by 'git notes add'
  3e257354aa07c49efb61e1f616a6f69ed8cc78e0
Labels: none

fix: workflow release automation
  release.config.js
Labels: JS

Notes added by 'git notes add'
  1cdd570c4508c0981e0cf49c25693206501624b6
Labels: none

Updated adrs
  specs/adrs/051224-App-or-Web-Hosted.md
  specs/adrs/051224-Builtin-or-API.md
  specs/adrs/051224-Code-Review-Policy.md
  specs/adrs/051224-Design-Tasklist.md
  specs/adrs/052624-Monthly-or-Yearly-View.md
  specs/adrs/052624-localstorage-or-JSON.md
  specs/adrs/053124-Font-Selection.md
  specs/adrs/060724-Unit-Testing-Framework.md
Labels: Documentation

cleanup unused files
  build.sh
  my-electron-app/package.json
Labels: none

feature: e2e testing with wdio
  package-lock.json
  package.json
  source/__tests__/test.e2e.js
  source/__tests__/tmp2.js
  source/__tests__/tmp3.js
  source/journals/2024-05-26.md
  source/journals/2024-06-02.md
  source/journals/2024-06-03.md
  wdio.conf.js
Labels: JS, Documentation

fix: wait 2 seconds to see the browser
  source/__tests__/test.e2e.js
Labels: JS

ci: added code coverage report generation
  .nyc_output/0916d523-544a-43a2-bcce-11bcfd482b68.json
  .nyc_output/35874bb3-7d65-497f-b468-f8db7a2912af.json
  .nyc_output/49375800-c225-43c4-b32c-318f93b8d479.json
  .nyc_output/7fbcbc31-a8ff-4478-b4d1-d671b8b30120.json
  .nyc_output/processinfo/0916d523-544a-43a2-bcce-11bcfd482b68.json
  .nyc_output/processinfo/35874bb3-7d65-497f-b468-f8db7a2912af.json
  .nyc_output/processinfo/49375800-c225-43c4-b32c-318f93b8d479.json
  .nyc_output/processinfo/7fbcbc31-a8ff-4478-b4d1-d671b8b30120.json
  .nyc_output/processinfo/index.json
  .nycrc
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov-report/source/event-card.js.html
  coverage/lcov-report/source/index.html
  coverage/lcov-report/source/json-parser.js.html
  coverage/lcov-report/source/main.js.html
  coverage/lcov-report/source/monthly-calendar.js.html
  coverage/lcov-report/source/preload.js.html
  coverage/lcov-report/source/task-crud.js.html
  coverage/lcov-report/source/taskbar.js.html
  coverage/lcov-report/source/tmp/index.html
  coverage/lcov-report/source/tmp/tmp.js.html
  coverage/lcov-report/source/util.js.html
  coverage/lcov-report/source/weekly-calendar.js.html
  coverage/lcov.info
  package-lock.json
  package.json
Labels: HTML, JS, CSS

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

Update ci.yml
  .github/workflows/ci.yml
Labels: none

fix lint errors
  wdio.conf.js
Labels: JS

gitignore update
  .gitignore
Labels: none

update coverage report
  .nyc_output/0916d523-544a-43a2-bcce-11bcfd482b68.json
  .nyc_output/35874bb3-7d65-497f-b468-f8db7a2912af.json
  .nyc_output/49375800-c225-43c4-b32c-318f93b8d479.json
  .nyc_output/7fbcbc31-a8ff-4478-b4d1-d671b8b30120.json
  .nyc_output/processinfo/0916d523-544a-43a2-bcce-11bcfd482b68.json
  .nyc_output/processinfo/35874bb3-7d65-497f-b468-f8db7a2912af.json
  .nyc_output/processinfo/49375800-c225-43c4-b32c-318f93b8d479.json
  .nyc_output/processinfo/7fbcbc31-a8ff-4478-b4d1-d671b8b30120.json
  .nyc_output/processinfo/index.json
  coverage/lcov-report/index.html
  coverage/lcov-report/source/event-card.js.html
  coverage/lcov-report/source/index.html
  coverage/lcov-report/source/json-parser.js.html
  coverage/lcov-report/source/main.js.html
  coverage/lcov-report/source/monthly-calendar.js.html
  coverage/lcov-report/source/preload.js.html
  coverage/lcov-report/source/task-crud.js.html
  coverage/lcov-report/source/taskbar.js.html
  coverage/lcov-report/source/tmp/index.html
  coverage/lcov-report/source/tmp/tmp.js.html
  coverage/lcov-report/source/util.js.html
  coverage/lcov-report/source/weekly-calendar.js.html
Labels: HTML

Update ci.yml
  .github/workflows/ci.yml
Labels: none

ci: update autorelease
  .github/workflows/release.yml
Labels: none

Notes added by 'git notes add'
  3fede0d325d42b03a8805b16f9acefa50efed810
Labels: none

Create jest.config.js
  source/__tests__/jest.config.js
Labels: JS

Created tests for monthly calendar view
  source/__tests__/monthly-calendar.test.js
Labels: JS

feature: introduce md-crud for markdown crud operations
  source/journals/2024-05-26.md
  source/journals/2024-06-02.md
  source/journals/2024-06-05.md
  source/journals/2024-06-24.md
  source/md-crud.js
  source/md-parser.js
  source/monthly-calendar.js
  source/monthly-planner.html
Labels: HTML, JS, Documentation

fix: remove prints
  source/md-parser.js
Labels: JS

Fix: monthly view day names, cursor, etc
  source/monthly-calendar.js
  source/styles/monthly-planner-style.css
Labels: JS, CSS

Update monthly-calendar.test.js
  source/__tests__/monthly-calendar.test.js
Labels: JS

Create event-card-test.js testing file
  source/__tests__/event-card-test.js
Labels: JS
