Repository cse110-sp24-group16/cse110-sp24-group16, changes with the labels that .github/labeler.yml gives for each.
All labels: HTML, JS, CSS, Documentation

fix: task duplication issue on save by copying id as well
  source/task-crud.js
  source/task.json
Labels: JS

Adjusted weekly view so Sunday is the first day of the week
  source/weekly-calendar.js
  source/weekly-planner.html
Labels: HTML, JS

add the default value
  package-lock.json
  package.json
  source/event-card.js
  source/task-crud.js
  source/task.json
Labels: JS

yeah
  source/task.json
Labels: none

Added notifications
  package-lock.json
  package.json
  source/styles/taskbar-style.css
  source/task.json
  source/taskbar.js
Labels: JS, CSS

Created a journal entry with saving issues
  source/monthly-calendar.js
  source/monthly-planner.html
  source/styles/monthly-planner-style.css
Labels: HTML, JS, CSS

minor fix
  source/monthly-calendar.js
Labels: JS

minor fix
  source/monthly-calendar.js
Labels: JS

Create temp.md
  specs/design/temp.md
Labels: Documentation

Add files via upload
  specs/design/MonthlyViewSketch.jpg
  specs/design/WeeklyPopUpSketch.jpg
  specs/design/WeeklyViewSketch.jpg
Labels: none

Delete specs/design/temp.md
  specs/design/temp.md
Labels: Documentation

Add files via upload
  specs/design/iteration_1.png
  specs/design/iteration_2.png
  specs/design/iteration_3.png
  specs/design/wireframe.png
Labels: none

Rename wireframe.png to FigmaWireframe.png
  specs/design/FigmaWireframe.png
Labels: none

Rename iteration_1.png to FigmaIteration_1.png
  specs/design/FigmaIteration_1.png
Labels: none

Rename iteration_2.png to FigmaIteration_2.png
  specs/design/FigmaIteration_2.png
Labels: none

Rename iteration_3.png to FigmaIteration_3.png
  specs/design/FigmaIteration_3.png
Labels: none

Update weekly-calendar.js
  source/weekly-calendar.js
Labels: JS

zip shell script
  binaries/command.sh
Labels: none

Journal now properly displays lists and header
  source/monthly-planner.html
  source/styles/monthly-planner-style.css
Labels: HTML, CSS

fix: use path instead of string to reference task.json
  package-lock.json
  package.json
  source/json-parser.js
Labels: JS

linter fix
  eslint.config.js
  package-lock.json
  package.json
  source/__tests__/test.js
  source/__tests__/tmp.test.js
Labels: JS

Fixed code style
  source/json-parser.js
  source/monthly-calendar.js
  source/taskbar.js
  source/util.js
  source/weekly-calendar.js
Labels: JS

Fixed codacy bug
  source/util.js
Labels: JS

minor fix
  source/styles/monthly-planner-style.css
Labels: CSS

Create jsdoc.yml
  .github/workflows/jsdoc.yml
Labels: none

Update jsdoc.yml
  .github/workflows/jsdoc.yml
Labels: none

Update jsdoc.yml
  .github/workflows/jsdoc.yml
Labels: none

Update jsdoc.yml
  .github/workflows/jsdoc.yml
Labels: none

Update jsdoc.yml
  .github/workflows/jsdoc.yml
Labels: none

Update jsdoc.yml
  .github/workflows/jsdoc.yml
Labels: none

Update jsdoc.yml
  .github/workflows/jsdoc.yml
Labels: none

Delete specs/design/temp.md
  specs/design/temp.md
Labels: Documentation

Update jsdoc.yml
  .github/workflows/jsdoc.yml
Labels: none

Create temp.md
  specs/design/temp.md
Labels: Documentation

Create jsdoc.yml
  .github/workflows/jsdoc.yml
Labels: none

Rename iteration_2.png to FigmaIteration_2.png
  specs/design/FigmaIteration_2.png
Labels: none

Update jsdoc.yml
  .github/workflows/jsdoc.yml
Labels: none

Add files via upload
  specs/design/MonthlyViewSketch.jpg
  specs/design/WeeklyPopUpSketch.jpg
  specs/design/WeeklyViewSketch.jpg
Labels: none

Rename wireframe.png to FigmaWireframe.png
  specs/design/FigmaWireframe.png
Labels: none

Rename iteration_3.png to FigmaIteration_3.png
  specs/design/FigmaIteration_3.png
Labels: none

.github/labeler.yml:

HTML:
  - "**/*.html"

JS:
  - "**/*.js"

CSS:
  - "**/*.css"

Documentation:
  - "**/*.md"
  - "docs/**/*"
