Repository cse110-sp24-group16/cse110-sp24-group16, changes with the labels that .github/labeler.yml gives for each.
All labels: HTML, JS, CSS, Documentation

okay
  source/journal.html
  source/planner.html
Labels: HTML

Create parser.js
  my-electron-app/package.json
  package-lock.json
  package.json
  source/main.js
  source/nope.json
  source/parser.js
  source/planner.html
  source/task.json
Labels: HTML, JS

Update parser.js & Create event-card.js
  source/event-card.js
  source/nope.json
  source/parser.js
  source/planner.html
  source/styles/planner-styles.css
  source/task.json
Labels: HTML, JS, CSS

Added comments on parser.js
  source/parser.js
Labels: JS

add today button, id assignments
  source/planner.html
Labels: HTML

working nav buttons and functionality
  source/weekly-calendar.js
Labels: JS

helpful comments
  source/weekly-calendar.js
Labels: JS

added toString statements
  source/weekly-calendar.js
Labels: JS

constant vars
  source/weekly-calendar.js
Labels: JS

string keys only and prev button fix
  source/weekly-calendar.js
Labels: JS

fix year change bug
  source/weekly-calendar.js
Labels: JS

update booleans
  source/weekly-calendar.js
Labels: JS

Adding the Add Feature with some issues with sync with calendar
  source/planner.html
  source/planner.js
  source/styles/planner-styles.css
Labels: HTML, JS, CSS

fixed some codacy issues
  source/planner.js
  source/styles/planner-styles.css
Labels: JS, CSS

Update weekly-calendar.js
  source/weekly-calendar.js
Labels: JS

added id with date to day divs
  source/planner.js
  source/weekly-calendar.js
Labels: JS

Updated monthly parser
  source/monthly-planner.html
  source/monthly-planner.js
  source/task.json
Labels: HTML, JS

Fixed weekly-calendar.js
  source/parser.js
  source/task.json
  source/weekly-calendar.js
Labels: JS

Adding new tasks integrated with writing to JSON file
  source/parser.js
  source/planner.html
  source/planner.js
  source/task.json
  source/weekly-calendar.js
Labels: HTML, JS

Added edit feature integrated with custom element
  source/planner.html
  source/planner.js
  source/task.json
Labels: HTML, JS

feature: taskbar search & sort
  source/monthly-planner-taskbar.js
  source/monthly-planner.html
  source/monthly-planner.js
  source/styles/monthly-planner-style.css
Labels: HTML, JS, CSS

fix: xss security issue
  source/monthly-planner-taskbar.js
Labels: JS

fix: more codacity issues
  source/monthly-planner.html
  source/styles/monthly-planner-style.css
Labels: HTML, CSS

fix: codacy not being smart enough
  source/monthly-planner-taskbar.js
  source/monthly-planner.js
Labels: JS

Fixed error with date overflow
  source/event-card.js
  source/parser.js
  source/planner.js
  source/task.json
Labels: JS

Recursively calls init() in planner.js
  source/planner.html
  source/planner.js
Labels: HTML, JS

Edit function fully integrated with json parsing
  source/parser.js
  source/planner.js
  source/task.json
Labels: JS

Integrated task deletion with json file
  source/planner.js
  source/task.json
Labels: JS

Re-added notes feature
  source/event-card.js
  source/planner.js
  source/task.json
Labels: JS

Removed all unnecessary console.log
  source/parser.js
  source/planner.js
Labels: JS

Updated monthly-parser.js
  source/monthly-parser.js
  source/monthly-planner.html
  source/monthly-planner.js
Labels: HTML, JS

meeting notes 6/2/24
  admin/meetings/060224-meeting-notes.md
Labels: Documentation

update readme, meeting notes, DEVLOG
  README.md
  admin/meetings/052124-swot_prep.md
  admin/meetings/temp.md
Labels: Documentation

feature: completed all basic crud operations with live updates across views
  source/event-card.js
  source/json-parser.js
  source/main.js
  source/monthly-calendar.js
  source/monthly-parser.js
  source/parser.js
  source/planner.html
  source/planner.js
  source/styles/planner-styles.css
  source/styles/task-crud-style.css
  source/styles/taskbar-style.css
  source/styles/weekly-planner-style.css
  source/task-crud.js
  source/task.json
  source/taskbar.js
  source/util.js
  source/weekly-calendar.js
  source/weekly-planner.html
Labels: HTML, JS, CSS

update comments
  source/main.js
Labels: JS

fix: date being offset by 1 day
  source/monthly-calendar.js
  source/weekly-calendar.js
Labels: JS

Update taskbar.js
  source/taskbar.js
Labels: JS

Update task-crud.js
  source/task-crud.js
Labels: JS

Update task-crud.js
  source/task-crud.js
Labels: JS

JSDoc overhaul
  README.md
  out/EventCard.html
  out/event-card.js.html
  out/global.html
  out/json-parser.js.html
  out/monthly-calendar.js.html
  out/task-crud.js.html
  out/taskbar.js.html
  out/tmp_tmp.js.html
  out/util.js.html
  source/event-card.js
  source/json-parser.js
  source/main.js
  source/preload.js
  source/util.js
  source/weekly-calendar.js
Labels: HTML, JS, Documentation

.github/labeler.yml:

HTML:
  - "**/*.html"

JS:
  - "**/*.js"

CSS:
  - "**/*.css"

Documentation:
  - "**/*.md"
  - "docs/**/*"
