Repository cse110-sp24-group16/cse110-sp24-group16, changes with the labels that .github/labeler.yml gives for each.
All labels: HTML, JS, CSS, Documentation

.github/labeler.yml:

HTML:
  - "**/*.html"

JS:
  - "**/*.js"

CSS:
  - "**/*.css"

Documentation:
  - "**/*.md"
  - "docs/**/*"

minor feature: change sequence of ci actions
  .github/workflows/release.yml
Labels: none

Notes added by 'git notes add'
  f549c9cc939f918302ec5ab3fa86ca7ee774fc43
Labels: none

ci: minor ci update
  .github/workflows/build-and-upload.yml
Labels: none

patch: corrected data in readme, created new release
  README.md
Labels: Documentation

Notes added by 'git notes add'
  e27cdefbbfc0e57f6153bc5a2c3ad08ee9910aa8
Labels: none

update Personal Access Token
  .github/workflows/release.yml
Labels: none

minor feature: PAT token and readme fixes
  README.md
Labels: Documentation

Notes added by 'git notes add'
  a6bcffdb3d2fd1254299e9c6d088e18746f75337
Labels: none

minor feature: update ci, fix documentation
  .github/workflows/build-and-upload.yml
Labels: none

Notes added by 'git notes add'
  e0daaf934a899a3b6a787c966b9e41dd72037c03
Labels: none

ok
  source/__tests__/test-monthly-e2e.js
Labels: JS

fix: ci path
  .github/workflows/build-and-upload.yml
Labels: none

Notes added by 'git notes add'
  6a4dfa88af6fef57b71dbf71c2f85dc77f78ac26
Labels: none

fix: ci checks
  .github/workflows/build-and-upload.yml
Labels: none

Notes added by 'git notes add'
  796967241521effbd616cba67018d68e88c8a316
Labels: none

fix: ci checks 2
  .github/workflows/build-and-upload.yml
Labels: none

fix: ci checks 3
  README.md
Labels: Documentation

Notes added by 'git notes add'
  c5e63256bcb64002beebeaba8fb3f64e1c8f0f16
Labels: none

fix: ci checks 4
  .github/workflows/build-and-upload.yml
Labels: none

Notes added by 'git notes add'
  8e0038385e75252a6932bc41ccaa47c57cc01d69
Labels: none

fix: ci checks 5
  .github/workflows/build-and-upload.yml
Labels: none

Notes added by 'git notes add'
  9af408bd5f3663177cbf2df5d315f6c9b25941e4
Labels: none

Add e2e tests for weekly view
  source/__tests__/e2e/test.e2e.js
  source/__tests__/e2e/test.js
  source/__tests__/test.e2e.js
Labels: JS

feature: unit tests
  source/__tests__/unit/json-parser.test.js
  source/__tests__/unit/md-parser.test..js
  source/__tests__/unit/monthly.test.js
  source/__tests__/unit/parser.test.js
  source/__tests__/unit/util.test.js
  source/__tests__/unit/weekly.test.js
  source/md-parser.js
  source/task.json
Labels: JS

updated reviews with my contributions
  admin/meetings/052624-project-sprint-review1.md
  admin/meetings/060924-project-sprint-review2.md
Labels: Documentation

update documentation
  README.md
  admin/meetings/060924-project-sprint-review2.md
Labels: Documentation

fixed tests
  source/__tests__/test-monthly-e2e.js
Labels: JS

Update test.e2e.js
  source/__tests__/e2e/test.e2e.js
Labels: JS

Update monthly e2e testing
  source/__tests__/e2e/test-monthly-e2e.js
  source/journals/2024-06-01.md
Labels: JS, Documentation

update readme
  README.md
  specs/screenshots/create-task.png
  specs/screenshots/delete-task.png
  specs/screenshots/edit-task.png
  specs/screenshots/journaling-popup.png
  specs/screenshots/screen-monthly.png
  specs/screenshots/screen-weekly.png
  specs/screenshots/taskbar-sorting-opts.png
Labels: Documentation

Update test-monthly-e2e.js
  source/__tests__/e2e/test-monthly-e2e.js
Labels: JS

Update test.e2e.js
  source/__tests__/e2e/test.e2e.js
Labels: JS

Deleted not needed files
  source/__tests__/e2e/test.e2e.js
  test/pageobjects/login.page.js
  test/pageobjects/page.js
  test/pageobjects/secure.page.js
  test/specs/test.e2e.js
Labels: JS

fix bug in e2e monthly test edit
  source/__tests__/e2e/test-monthly-e2e.js
  source/__tests__/e2e/test.e2e.js
Labels: JS

Remove temp files and wdio from package-lock.json
  package-lock.json
  source/__tests__/tmp.test.js
  source/__tests__/tmp2.js
  source/__tests__/tmp3.js
Labels: JS

MAJOR FEATURE: README CHANGED
  README.md
Labels: Documentation

tech
  .github/workflows/release.yml
Labels: none

tech
  .github/workflows/release.yml
Labels: none

fix: tech
  README.md
Labels: Documentation

MAJOR FEATURE: changed run instructions in readme
  README.md
Labels: Documentation
