Repository cse110-sp24-group16/cse110-sp24-group16, changes with the labels that .github/labeler.yml gives for each.
All labels: HTML, JS, CSS, Documentation

Rename iteration_1.png to FigmaIteration_1.png
  specs/design/FigmaIteration_1.png
Labels: none

Add files via upload
  specs/design/iteration_1.png
  specs/design/iteration_2.png
  specs/design/iteration_3.png
  specs/design/wireframe.png
Labels: none

fix: use path instead of string to reference task.json
  package-lock.json
Labels: none

changed shell file to txt
  binaries/command.txt
Labels: none

fix: check file existence for task.json
  source/json-parser.js
Labels: JS

Create BUILD.yml
  .github/workflows/BUILD.yml
Labels: none

update lib
  package-lock.json
  package.json
Labels: none

v0.0.1
  README.md
Labels: Documentation

update readme
  README.md
Labels: Documentation

Added Blue Accents for Weekends in Monthly View
  source/monthly-calendar.js
Labels: JS

Added Blue Color for Weekend Accents (CSS)
  source/styles/monthly-planner-style.css
Labels: CSS

v0.0.1
  README.md
Labels: Documentation

v0.0.1
  package.json
Labels: none

Added Hover Feature to add task when clicked on specific day
  source/monthly-calendar.js
Labels: JS

v0.0.4
  binaries/command.txt
Labels: none

v0.0.4
  .gitignore
  build/icon.png
  build/icons/icon.png
Labels: none

icon change
  build/icons/icon.png
Labels: none

update to fork
  .github/workflows/BUILD.yml
Labels: none

builder update
  .github/workflows/BUILD.yml
Labels: none

update build yml
  .github/workflows/BUILD.yml
Labels: none

Fix: monthly calendar broken buttons
  source/monthly-calendar.js
Labels: JS

gitignore update
  .gitignore
  package-lock.json
  package.json
Labels: none

update gitignore
  .gitignore
Labels: none

fix: programmatically style task list for monthly view
  source/monthly-calendar.js
  source/styles/monthly-planner-style.css
Labels: JS, CSS

ci: Adds semantic-release
  .github/workflows/release.yml
  binaries/command.txt
  build.sh
  package-lock.json
  package.json
  release.config.js
Labels: JS

feat: Changes readme
  README.md
Labels: Documentation

feature: implemented markdown parser
  source/journals/2024-06-24.md
  source/md-parser.js
  source/monthly-calendar.js
  source/styles/monthly-planner-style.css
Labels: JS, CSS, Documentation

release automation update
  .github/workflows/release.yml
Labels: none

npm install electron-packager --save-dev
  package-lock.json
  package.json
Labels: none

add npm install to release script
  .github/workflows/release.yml
Labels: none

change over to electron-forge
  .github/workflows/release.yml
  .gitignore
  forge.config.js
  package-lock.json
  package.json
  release.config.js
  source/task.json
Labels: JS

Updated Hover Feature for Monthly View
  source/monthly-calendar.js
Labels: JS

Updated CSS file for Calendar Day Hover
  source/styles/monthly-planner-style.css
Labels: CSS

update packager
  package-lock.json
  package.json
Labels: none

dont build arm
  package.json
Labels: none

try to swap OS instead of emulating
  .github/workflows/release.yml
Labels: none

change node version
  .github/workflows/release.yml
Labels: none

change node ver to 20
  .github/workflows/release.yml
Labels: none

version latest
  .github/workflows/release.yml
Labels: none

debug-1
  .github/workflows/release.yml
Labels: none

.github/labeler.yml:

HTML:
  - "**/*.html"

JS:
  - "**/*.js"

CSS:
  - "**/*.css"

Documentation:
  - "**/*.md"
  - "docs/**/*"
