Repository cse110-sp24-group16/cse110-sp24-group16, pull requests merged in 2024-05, with the labels that each got.

#35 Katulevskiy feature 21
  .github/workflows/ci.yml
  .gitignore
  README.md
  admin/cipipeline/phase1.drawio.png
  admin/cipipeline/phase1.md
  admin/team.md
  eslint.config.js
  out/fonts/OpenSans-Bold-webfont.eot
  out/fonts/OpenSans-Bold-webfont.svg
  out/fonts/OpenSans-Bold-webfont.woff
  out/fonts/OpenSans-BoldItalic-webfont.eot
  out/fonts/OpenSans-BoldItalic-webfont.svg
  out/fonts/OpenSans-BoldItalic-webfont.woff
  out/fonts/OpenSans-Italic-webfont.eot
  out/fonts/OpenSans-Italic-webfont.svg
  out/fonts/OpenSans-Italic-webfont.woff
  out/fonts/OpenSans-Light-webfont.eot
  out/fonts/OpenSans-Light-webfont.svg
  out/fonts/OpenSans-Light-webfont.woff
  out/fonts/OpenSans-LightItalic-webfont.eot
  out/fonts/OpenSans-LightItalic-webfont.svg
  out/fonts/OpenSans-LightItalic-webfont.woff
  out/fonts/OpenSans-Regular-webfont.eot
  out/fonts/OpenSans-Regular-webfont.svg
  out/fonts/OpenSans-Regular-webfont.woff
  out/global.html
  out/index.html
  out/scripts/linenumber.js
  out/scripts/prettify/Apache-License-2.0.txt
  out/scripts/prettify/lang-css.js
  out/scripts/prettify/prettify.js
  out/styles/jsdoc-default.css
  out/styles/prettify-jsdoc.css
  out/styles/prettify-tomorrow.css
  out/tmp.js.html
  package-lock.json
  package.json
  source/__tests__/tmp.test.js
  source/tmp/tmp.js
  specs/adrs/051224-Builtin-or-API.md
Labels: documentation

#37 Katulevskiy feature 22
  source/tmp/tmp.js
Labels: documentation

#38 Dev
  source/tmp/tmp.js
Labels: documentation

#48 Refactor 1
  source/main.js
  source/planner.html
  source/plans.html
  source/styles/planner-styles.css
  weekly planner/index.html
Labels: documentation, enhancement

#42 Create 051924-task_division.md
  admin/meetings/051924-task_division.md
Labels: documentation

#49 Added a deleting feature with a pop-up
  source/planner.html
  source/styles/planner-styles.css
Labels: enhancement

#56 Update README.md
  README.md
Labels: documentation

#58 Sync dev main 1
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/labeler.yml
  .github/workflows/auto-label.yml
  README.md
  admin/meetings/051924-task_division.md
  admin/meetings/052424-task-redistribution.md
  out/global.html
  out/index.html
  out/tmp.js.html
  package-lock.json
  package.json
  source/__tests__/tmp2.js
  source/__tests__/tmp3.js
  source/journal.html
  source/main.js
  source/planner.html
  source/preload.js
  source/styles/planner-styles.css
  weekly planner/index.html
Labels: duplicate, enhancement

#60 Deploy tasklist update (reviewed)
  source/planner.html
  source/styles/planner-styles.css
Labels: enhancement, HTML, CSS, frontend

#62 Dev branch sync
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  README.md
Labels: documentation

#66 feature: created monthly view skeleton
  README.md
  source/monthly-planner.html
  source/monthly-planner.js
  source/styles/monthly-planner-style.css
Labels: documentation, enhancement, HTML, CSS, JS

#65 Created js file for planner.html
  source/planner.html
  source/planner.js
Labels: documentation, HTML, JS

#67 Edit-task-feature
  source/planner.html
  source/planner.js
  source/styles/planner-styles.css
Labels: enhancement, HTML, CSS, JS

#69 Katulevskiy patch 3
  .github/workflows/enforcer.yml
  source/planner.html
  source/planner.js
  source/styles/planner-styles.css
Labels: HTML, CSS, JS

#70 Main PR Enforcement
  .github/workflows/enforcer.yml
  source/monthly-planner.html
  source/monthly-planner.js
  source/styles/monthly-planner-style.css
Labels: HTML, CSS, JS

#74 Added functionality to monthly view calendar
  source/monthly-planner.html
  source/monthly-planner.js
  source/styles/monthly-planner-style.css
Labels: HTML, CSS, JS

#76 Created a color feature as well as a notes feature
  source/planner.html
  source/planner.js
  source/styles/planner-styles.css
Labels: enhancement, HTML, CSS, JS

#78 Switch view
  source/monthly-planner.html
  source/planner.html
  source/planner.js
Labels: HTML, JS

#75 Update monthly-planner.html
  source/monthly-planner.html
Labels: HTML

#79 view-switch-patch
  source/journal.html
  source/monthly-planner.js
Labels: HTML, JS

#82 fixing changes to html
  source/monthly-planner.html
Labels: bug, HTML

#80 Added ADR for local storage or JSON
  specs/adrs/052624-localstorage-or-JSON.md
Labels: documentation

#81 Created ADR: monthly vs yearly and moved other ADRs into appropriate folder
  specs/adrs/051224-Code-Review-Policy.md
  specs/adrs/051224-Design-Tasklist.md
  specs/adrs/052624-Monthly-or-Yearly-View.md
Labels: documentation

#83 Static basic structure done
  source/journal.html
  source/markdown-files/journal-050524.md
  source/monthly-planner.html
  source/monthly-planner.js
  source/planner.html
  source/planner.js
  source/styles/monthly-planner-style.css
  source/styles/planner-styles.css
  specs/adrs/051224-Code-Review-Policy.md
  specs/adrs/051224-Design-Tasklist.md
  specs/adrs/052624-Monthly-or-Yearly-View.md
  specs/adrs/052624-localstorage-or-JSON.md
Labels: documentation, HTML, CSS, JS

#98 Sam lau weekly arrow functionality
  source/planner.html
  source/weekly-calendar.js
Labels: enhancement, HTML, JS

#100 Adding the Add Feature with some issues with sync with calendar
  source/planner.html
  source/planner.js
  source/styles/planner-styles.css
  source/weekly-calendar.js
Labels: HTML, CSS, JS
