Repository cse110-sp24-group16/cse110-sp24-group16, pull requests merged in 2024-06, with the labels that each got.

#104 Created json parser for both monthly and weekly view.
  my-electron-app/package.json
  package-lock.json
  package.json
  source/event-card.js
  source/main.js
  source/monthly-parser.js
  source/monthly-planner.html
  source/monthly-planner.js
  source/parser.js
  source/planner.html
  source/planner.js
  source/styles/planner-styles.css
  source/task.json
  source/weekly-calendar.js
Labels: HTML, CSS, JS

#105 Feature: Added Taskbar Search & Sort to Monthly View
  source/monthly-planner-taskbar.js
  source/monthly-planner.html
  source/monthly-planner.js
  source/styles/monthly-planner-style.css
Labels: HTML, CSS, JS

#107 meeting notes 6/2/24
  admin/meetings/060224-meeting-notes.md
Labels: documentation

#108 Improved documentation, DEVLOG updates
  README.md
  admin/meetings/052124-swot_prep.md
  admin/meetings/temp.md
Labels: documentation

#114 Fix: task duplication issue on save
  source/task-crud.js
  source/task.json
Labels: bug, documentation, JS

#116 Adjusted weekly view so Sunday is the first day of the week
  source/weekly-calendar.js
  source/weekly-planner.html
Labels: documentation, HTML, JS

#118 add the default value-michelle
  package-lock.json
  package.json
  source/event-card.js
  source/task-crud.js
  source/task.json
Labels: JS

#119 Added notifications
  source/styles/taskbar-style.css
  source/task.json
  source/taskbar.js
Labels: accessibility, CSS, JS

#127 Fixed code style
  source/json-parser.js
  source/monthly-calendar.js
  source/taskbar.js
  source/util.js
  source/weekly-calendar.js
Labels: JS

#125 Fixed linter for electron
  binaries/command.sh
  eslint.config.js
  package-lock.json
  package.json
  source/__tests__/test.js
  source/__tests__/tmp.test.js
  source/json-parser.js
  source/monthly-calendar.js
  source/taskbar.js
  source/util.js
  source/weekly-calendar.js
Labels: JS

#130 Fix: Handle case of task.json not existing
  source/json-parser.js
Labels: bug, JS, task-list, backend

#132 Added Blue Accents for Weekends in Monthly View (JS)
  source/monthly-calendar.js
Labels: JS

#133 Added Blue Color for Weekend Accents (CSS)
  source/styles/monthly-planner-style.css
Labels: CSS

#135 Fix: Monthly buttons being broken
  source/monthly-calendar.js
Labels: bug, accessibility, JS, journal

#136 Testing automatic semantic release
  .github/workflows/release.yml
  .gitignore
  binaries/command.txt
  build.sh
  forge.config.js
  package-lock.json
  package.json
  release.config.js
  source/task.json
Labels: documentation, JS

#139 Automatic semantic releases functionality
  .github/workflows/release.yml
  .gitignore
  binaries/command.sh
  build.sh
  forge.config.js
  package-lock.json
  package.json
  release.config.js
  source/json-parser.js
  source/monthly-calendar.js
  source/styles/monthly-planner-style.css
  source/task.json
Labels: CSS, JS

#141 autorelease sync to dev
  .github/workflows/release.yml
  build.sh
  my-electron-app/package.json
  package.json
  release.config.js
Labels: JS

#140 Updated ADR's
  specs/adrs/051224-App-or-Web-Hosted.md
  specs/adrs/051224-Builtin-or-API.md
  specs/adrs/051224-Code-Review-Policy.md
  specs/adrs/051224-Design-Tasklist.md
  specs/adrs/052624-Monthly-or-Yearly-View.md
  specs/adrs/052624-localstorage-or-JSON.md
  specs/adrs/053124-Font-Selection.md
  specs/adrs/060724-Unit-Testing-Framework.md
Labels: documentation

#142 Update ci.yml - codacy coverage reports
  .github/workflows/ci.yml
  .gitignore
  .nyc_output/0916d523-544a-43a2-bcce-11bcfd482b68.json
  .nyc_output/35874bb3-7d65-497f-b468-f8db7a2912af.json
  .nyc_output/49375800-c225-43c4-b32c-318f93b8d479.json
  .nyc_output/7fbcbc31-a8ff-4478-b4d1-d671b8b30120.json
  .nyc_output/processinfo/0916d523-544a-43a2-bcce-11bcfd482b68.json
  .nyc_output/processinfo/35874bb3-7d65-497f-b468-f8db7a2912af.json
  .nyc_output/processinfo/49375800-c225-43c4-b32c-318f93b8d479.json
  .nyc_output/processinfo/7fbcbc31-a8ff-4478-b4d1-d671b8b30120.json
  .nyc_output/processinfo/index.json
  coverage/lcov-report/index.html
  coverage/lcov-report/source/event-card.js.html
  coverage/lcov-report/source/index.html
  coverage/lcov-report/source/json-parser.js.html
  coverage/lcov-report/source/main.js.html
  coverage/lcov-report/source/monthly-calendar.js.html
  coverage/lcov-report/source/preload.js.html
  coverage/lcov-report/source/task-crud.js.html
  coverage/lcov-report/source/taskbar.js.html
  coverage/lcov-report/source/tmp/index.html
  coverage/lcov-report/source/tmp/tmp.js.html
  coverage/lcov-report/source/util.js.html
  coverage/lcov-report/source/weekly-calendar.js.html
  wdio.conf.js
Labels: HTML, JS

#143 Update ci.yml
  .github/workflows/ci.yml
Labels: documentation, enhancement, backend

#144 ci: Codacy code coverage analysis added
  .github/workflows/ci.yml
  .gitignore
  .nyc_output/processinfo/index.json
  .nycrc
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov-report/source/event-card.js.html
  coverage/lcov-report/source/index.html
  coverage/lcov-report/source/json-parser.js.html
  coverage/lcov-report/source/main.js.html
  coverage/lcov-report/source/monthly-calendar.js.html
  coverage/lcov-report/source/preload.js.html
  coverage/lcov-report/source/task-crud.js.html
  coverage/lcov-report/source/taskbar.js.html
  coverage/lcov-report/source/tmp/index.html
  coverage/lcov-report/source/tmp/tmp.js.html
  coverage/lcov-report/source/util.js.html
  coverage/lcov-report/source/weekly-calendar.js.html
  coverage/lcov.info
  package-lock.json
  package.json
  source/__tests__/test.e2e.js
  source/__tests__/tmp2.js
  source/__tests__/tmp3.js
  source/journals/2024-05-26.md
  source/journals/2024-06-02.md
  source/journals/2024-06-03.md
  specs/adrs/051224-App-or-Web-Hosted.md
  specs/adrs/051224-Builtin-or-API.md
  specs/adrs/051224-Code-Review-Policy.md
  specs/adrs/051224-Design-Tasklist.md
  specs/adrs/052624-Monthly-or-Yearly-View.md
  specs/adrs/052624-localstorage-or-JSON.md
  specs/adrs/053124-Font-Selection.md
  specs/adrs/060724-Unit-Testing-Framework.md
  wdio.conf.js
Labels: documentation, enhancement, HTML, CSS, JS, backend

#137 Updated Hover Feature for Monthly View
  source/monthly-calendar.js
Labels: JS

#145 Create jest.config.js
  source/__tests__/jest.config.js
Labels: JS

#138 Updated CSS file for Calendar Day Hover
  source/styles/monthly-planner-style.css
Labels: CSS

#123 Journal now properly displays lists and header
  source/journals/2024-06-24.md
  source/md-parser.js
  source/monthly-calendar.js
  source/monthly-planner.html
  source/styles/monthly-planner-style.css
Labels: documentation, HTML, CSS, JS

#147 Feature: Introduce md-crud.js for Markdown CRUD operations
  source/journals/2024-05-26.md
  source/journals/2024-06-02.md
  source/journals/2024-06-05.md
  source/journals/2024-06-24.md
  source/md-crud.js
  source/md-parser.js
  source/monthly-calendar.js
  source/monthly-planner.html
Labels: documentation, HTML, JS

#148 Fix: monthly view day names, cursor, etc
  source/monthly-calendar.js
  source/styles/monthly-planner-style.css
Labels: CSS, JS

#152 Manual Testing Added
  README.md
  source/__tests__/060824-Manual-Testing-Report.md
  source/journals/2024-06-08.md
  source/journals/2024-06-09.md
  source/journals/2024-06-10.md
  source/journals/2024-06-11.md
  source/task.json
Labels: documentation

#153 Match design styling
  source/assets/month-icon.svg
  source/assets/options-icon.png
  source/assets/week-icon.png
  source/monthly-planner.html
  source/styles/monthly-planner-style.css
  source/styles/task-crud-style.css
  source/styles/taskbar-style.css
  source/styles/weekly-planner-style.css
  source/weekly-calendar.js
  source/weekly-planner.html
Labels: HTML, CSS, JS

#157 Feature: Add Journal Icon to Monthly View
  source/assets/journal-icon.png
  source/monthly-calendar.js
Labels: JS

#155 Adds Delete Functionality for Monthly View for tasks
  source/monthly-calendar.js
Labels: JS

#156 Adds simple styling for delete button in monthly view
  source/styles/monthly-planner-style.css
Labels: CSS

#149 Create event-card-test.js testing file
  source/__tests__/event-card-test.js
Labels: JS

#160 BREAKING CHANGE: update modular structure for all JS file, update codacy code coverage algorithms
  .github/workflows/ci.yml
  README.md
  lcov.info
  package.json
  source/__tests__/060824-Manual-Testing-Report.md
  source/__tests__/e2e/event-card-test.js
  source/__tests__/e2e/test.e2e.js
  source/__tests__/e2e/test.js
  source/__tests__/unit/monthly.test.js
  source/__tests__/unit/parser.test.js
  source/__tests__/unit/weekly.test.js
  source/assets/journal-icon.png
  source/assets/month-icon.svg
  source/assets/options-icon.png
  source/assets/week-icon.png
  source/event-card.js
  source/journals/2024-05-26.md
  source/journals/2024-06-02.md
  source/journals/2024-06-05.md
  source/journals/2024-06-08.md
  source/journals/2024-06-09.md
  source/journals/2024-06-10.md
  source/journals/2024-06-11.md
  source/journals/2024-06-24.md
  source/json-parser.js
  source/md-crud.js
  source/md-parser.js
  source/monthly-calendar.js
  source/monthly-planner.html
  source/styles/monthly-planner-style.css
  source/styles/task-crud-style.css
  source/styles/taskbar-style.css
  source/styles/weekly-planner-style.css
  source/task-crud.js
  source/task.json
  source/taskbar.js
  source/util.js
  source/weekly-calendar.js
  source/weekly-planner.html
  wdio.conf.js
Labels: documentation, HTML, CSS, JS

#161 major feature: update releases ci, update jsdoc generation policies
  .github/workflows/build-and-upload.yml
  .github/workflows/jsdoc.yml
  .github/workflows/release.yml
  .gitignore
  jsdoc_config.json
  source/tmp/tmp.js
Labels: documentation, enhancement, JS

#162 ci: releases protocol update, JSDoc generation changed, unnecessary files removed
  .github/workflows/build-and-upload.yml
  .github/workflows/jsdoc.yml
  .github/workflows/release.yml
  .gitignore
  README.md
  jsdoc_config.json
  source/tmp/tmp.js
Labels: documentation, JS

#158 Fixed incorrect date in taskbar display
  source/taskbar.js
Labels: JS

#164 Feature: add unit tests for parsers and util functions
  source/__tests__/unit/json-parser.test.js
  source/__tests__/unit/md-parser.test..js
  source/__tests__/unit/monthly.test.js
  source/__tests__/unit/parser.test.js
  source/__tests__/unit/util.test.js
  source/__tests__/unit/weekly.test.js
  source/md-parser.js
  source/task.json
Labels: JS

#163 Updating sprint review and retro
  admin/meetings/052624-project-retrospective1.md
  admin/meetings/052624-project-sprint-review1.md
  admin/meetings/060924-project-retrospective2.md
  admin/meetings/060924-project-sprint-review2.md
Labels: documentation

#165 Update dev with release changes
  .github/workflows/build-and-upload.yml
  .github/workflows/release.yml
  README.md
Labels: documentation

#166 Documentation sync and unit test addition
  README.md
  admin/meetings/052624-project-retrospective1.md
  admin/meetings/052624-project-sprint-review1.md
  admin/meetings/060924-project-retrospective2.md
  admin/meetings/060924-project-sprint-review2.md
  source/__tests__/unit/json-parser.test.js
  source/__tests__/unit/md-parser.test..js
  source/__tests__/unit/monthly.test.js
  source/__tests__/unit/parser.test.js
  source/__tests__/unit/util.test.js
  source/__tests__/unit/weekly.test.js
  source/md-parser.js
  source/task.json
  source/taskbar.js
Labels: documentation, JS

#169 update readme
  README.md
  specs/screenshots/create-task.png
  specs/screenshots/delete-task.png
  specs/screenshots/edit-task.png
  specs/screenshots/journaling-popup.png
  specs/screenshots/screen-monthly.png
  specs/screenshots/screen-weekly.png
  specs/screenshots/taskbar-sorting-opts.png
Labels: documentation

#170 E2e weekly
  .nyc_output/processinfo/index.json
  coverage/lcov-report/index.html
  coverage/lcov-report/source/event-card.js.html
  coverage/lcov-report/source/index.html
  coverage/lcov-report/source/json-parser.js.html
  coverage/lcov-report/source/main.js.html
  coverage/lcov-report/source/monthly-calendar.js.html
  coverage/lcov-report/source/preload.js.html
  coverage/lcov-report/source/task-crud.js.html
  coverage/lcov-report/source/taskbar.js.html
  coverage/lcov-report/source/tmp/index.html
  coverage/lcov-report/source/tmp/tmp.js.html
  coverage/lcov-report/source/util.js.html
  coverage/lcov-report/source/weekly-calendar.js.html
  coverage/lcov.info
  package-lock.json
  package.json
  source/__tests__/e2e/test-monthly-e2e.js
  source/__tests__/e2e/test.e2e.js
  source/__tests__/tmp.test.js
  source/__tests__/tmp2.js
  source/__tests__/tmp3.js
  source/journals/2024-06-01.md
  source/journals/2024-06-06.md
  source/journals/2024-06-12.md
  source/markdown-files/journal-050524.md
Labels: documentation, HTML, JS

#172 fix bug in e2e monthly test edit
  source/__tests__/e2e/test-monthly-e2e.js
  source/__tests__/e2e/test.e2e.js
Labels: JS

#174 Remove temp files and wdio from package-lock.json
  package-lock.json
  source/__tests__/tmp.test.js
  source/__tests__/tmp2.js
  source/__tests__/tmp3.js
Labels: JS

#175 MAJOR FEATURE: README CHANGED
  README.md
Labels: documentation

#176 MAJOR FEATURE: changed run instructions in readme
  .nyc_output/processinfo/index.json
  README.md
  coverage/lcov-report/index.html
  coverage/lcov-report/source/event-card.js.html
  coverage/lcov-report/source/index.html
  coverage/lcov-report/source/json-parser.js.html
  coverage/lcov-report/source/main.js.html
  coverage/lcov-report/source/monthly-calendar.js.html
  coverage/lcov-report/source/preload.js.html
  coverage/lcov-report/source/task-crud.js.html
  coverage/lcov-report/source/taskbar.js.html
  coverage/lcov-report/source/tmp/index.html
  coverage/lcov-report/source/tmp/tmp.js.html
  coverage/lcov-report/source/util.js.html
  coverage/lcov-report/source/weekly-calendar.js.html
  coverage/lcov.info
  package-lock.json
  package.json
  source/__tests__/e2e/test-monthly-e2e.js
  source/__tests__/e2e/test.e2e.js
  source/journals/2024-06-01.md
  source/journals/2024-06-06.md
  source/journals/2024-06-12.md
  source/markdown-files/journal-050524.md
Labels: documentation, HTML, JS
